.wrapper {
  :root {
    height: 66px;
  }
  --font-size: 1.5rem
  --desc-color: #0000008a;
  --text-color: #333;
  height: --height;
  background-color: #fff;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #e8ebed;
  display: flex;
  font-size: 1.4rem;
  left: 0;
  padding: 0 28px;
  position: sticky;
  right: 0;
  top: 0;
  z-index: 20;
  .logo {
    flex: 1 1;
    .logoHeading {
      color: #000;
      font-size: 1.4rem;
      font-weight: 700;
      margin-left: 0.6rem;
      margin-bottom: 0px;
    }
  }
  .body, .SearchResult{
    width: 36.1rem;
  }
  .body {
    border: 2px solid #e8e8e8;
    border-radius: 20px;
    transition: border-color 0.2s ease-in-out;
    &:focus-within {
      border: 2px solid #797979;
    }
    .SearchWrapper {
      flex: 1 1;
      height: 40px;
      padding: 0 16px 0 8px;
    }
    .SearchIcon {
      background-color: #fff;
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: 18px;
      border-radius: 50%;
      height: 2rem;
      opacity: 0.7;
      transition: opacity 0.2s ease-in-out;
      width: auto;
      svg {
        height: 100%;
      }
    }
    .SearchInput {
      border: none;
      caret-color: #444;
      flex: 1 1;
      height: 100%;
      outline: none;
      padding: 0 4px;
      font-size: var(--font-size);
    }
    .SearchInput:not(:placeholder-shown) ~ .SearchIcon {
      color: red;
    }
  }
  .SearchResult{
    .SearchHeader{
      align-items: center;
      display: flex;
      padding: 6px 0 0;
      .SearchIcon{
      }
      span{
        margin-left: 2.5rem;;
      }
    }
    .SearchHeading{
      align-items: center;
      border-bottom: 1px solid rgba(0,0,0,.05);
      display: flex;
      justify-content: space-between;
      margin-bottom: 6px;
      padding: 24px 0 12px;
      h5{
        color: var(--text-color);
        font-size: 1.4rem;
        font-weight: 500;
        margin: 0;
      }
      .SearchSeeMore{
        color: var(--desc-color);
        font-size: 1.4rem;
      }
    }
  }
  .actions {
    flex: 1 1;
  }
  .clear {
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
    width: auto;
    cursor: pointer;
  }
}
